In [2]:
path = 'https://raw.githubusercontent.com/tec03/Datasets/main/datasets/fpEg1.csv'

In [3]:
pip install pandas

Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2022.4)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv(path,
                header = None)
df

   0  1  2  3  4    5    6    7
0  a  c  d  f  g    i    m    p
1  a  b  c  f  l    m    o  NaN
2  b  f  h  j  o  NaN  NaN  NaN
3  b  c  k  s  p  NaN  NaN  NaN
4  a  c  e  f  i    p    m    n

In [6]:
df.shape

(5, 8)

## Data pre-processing

In [7]:
transaction = []
for i in range(0, df.shape[0]):                           # for each row
    for j in range(0, df.shape[1]):                       # for each column
                   transaction.append(df.values[i][j])    # adding each element to the empty set
transaction

['a',
 'c',
 'd',
 'f',
 'g',
 'i',
 'm',
 'p',
 'a',
 'b',
 'c',
 'f',
 'l',
 'm',
 'o',
 nan,
 'b',
 'f',
 'h',
 'j',
 'o',
 nan,
 nan,
 nan,
 'b',
 'c',
 'k',
 's',
 'p',
 nan,
 nan,
 nan,
 'a',
 'c',
 'e',
 'f',
 'i',
 'p',
 'm',
 'n']

In [8]:
ndf = pd.DataFrame(transaction,
                   columns = ['items']
                  )
ndf.head()

  items
0     a
1     c
2     d
3     f
4     g

In [9]:
pip install numpy

Requirement already satisfied: numpy in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.21.6)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import numpy as np

In [11]:
transaction = np.array(transaction)
transaction

array(['a', 'c', 'd', 'f', 'g', 'i', 'm', 'p', 'a', 'b', 'c', 'f', 'l',
       'm', 'o', 'nan', 'b', 'f', 'h', 'j', 'o', 'nan', 'nan', 'nan', 'b',
       'c', 'k', 's', 'p', 'nan', 'nan', 'nan', 'a', 'c', 'e', 'f', 'i',
       'p', 'm', 'n'], dtype='<U32')

In [12]:
to_be_deleted = ndf[ndf['items']=='nan'].index
to_be_deleted

Int64Index([], dtype='int64')

In [13]:
ndf.drop(to_be_deleted,
         inplace = True)
ndf['count'] = 1
ndf

   items  count
0      a      1
1      c      1
2      d      1
3      f      1
4      g      1
5      i      1
6      m      1
7      p      1
8      a      1
9      b      1
10     c      1
11     f      1
12     l      1
13     m      1
14     o      1
15   NaN      1
16     b      1
17     f      1
18     h      1
19     j      1
20     o      1
21   NaN      1
22   NaN      1
23   NaN      1
24     b      1
25     c      1
26     k      1
27     s      1
28     p      1
29   NaN      1
30   NaN      1
31   NaN      1
32     a      1
33     c      1
34     e      1
35     f      1
36     i      1
37     p      1
38     m      1
39     n      1

In [14]:
df_table = ndf.groupby('items').sum().sort_values('count',
                                                  ascending = False).reset_index()
df_table

   items  count
0      c      4
1      f      4
2      a      3
3      b      3
4      p      3
5      m      3
6      o      2
7      i      2
8      h      1
9      j      1
10     k      1
11     l      1
12     g      1
13     n      1
14     e      1
15     d      1
16     s      1

In [15]:
pip install matplotlib

Requirement already satisfied: matplotlib in /srv/conda/envs/notebook/lib/python3.7/site-packages (3.5.3)
Requirement already satisfied: python-dateutil>=2.7 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (9.3.0)
Requirement already satisfied: packaging>=20.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: numpy>=1.17 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (1.21.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (4.38.0)
Requirement already satisfied: cycler>=0.10 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: typing-extensions in /srv/conda/envs/notebook/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib) (4.4.0)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [16]:
import matplotlib as mpl
import matplotlib.pyplot as plt

In [17]:
df_table['all'] = 'x'
df_table

   items  count all
0      c      4   x
1      f      4   x
2      a      3   x
3      b      3   x
4      p      3   x
5      m      3   x
6      o      2   x
7      i      2   x
8      h      1   x
9      j      1   x
10     k      1   x
11     l      1   x
12     g      1   x
13     n      1   x
14     e      1   x
15     d      1   x
16     s      1   x

In [18]:
pip install plotly

Requirement already satisfied: plotly in /srv/conda/envs/notebook/lib/python3.7/site-packages (5.11.0)
Requirement already satisfied: tenacity>=6.2.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from plotly) (8.1.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
import plotly.express as px
import plotlib.io as pio          # these two lines to se the graph in mybinder (not needed for colab)
pio.renderers.default = 'iframe'

ModuleNotFoundError: No module named 'plotlib'

In [90]:
fig = px.treemap(df_table,
                 path = ['all', 'items'],
                 values = 'count',
                 color = df_table['count'],
                 color_continous_scale = 'Blues',
                 hover_data = ['items']
                )
fig.show()

TypeError: treemap() got an unexpected keyword argument 'color_continous_scale'

In [1]:
tra = []
for i in range(0, df.shape[0]):
    tra.append([ str(df.values[i,j])
                for j in range(0, df.shape[1])
               ]
tra

SyntaxError: invalid syntax (741144073.py, line 6)

In [ ]:
pip install mlxtend

In [ ]:
from mlxtend.preprocessing import TransactionEncoder

In [ ]:
te = TransactionEncoder()
te_ary = te.fit(tra).transform(tra)
ecoded_df = pd.DataFrame(te_ary,
                         columns = te.columns_)
encoded_df

In [ ]:
encoded_df.drop(['nan'], axis = 1, inplace = True)
encoded_df.columns

In [ ]:
from mlxtend.frequent_patterns import fpgrowth

In [ ]:
f_itemsets = fpgrowth(encoded_df,
                      min_support = 0.6,
                      use_colnames = True
                     )
f_itemsets

In [ ]:
from mlxtend.frequent_patterns import association_rules

In [ ]:
a_rules = association_rules(f_itemsets,
                            metric = 'lift',
                            min_threshold = 1.5
                           )
a_rules